.previewContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
  width: 200px;
  height: 325px;
}

.img {
  border-radius: 15px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.resetPhoto{
  position: absolute;
  right: 37px;
  top : 64px;
}