.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatContentContainer {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chatContainer {
  width: 70vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border: solid;
  border-radius: 15px;
  padding: 10px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}

.userInputContainer {
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 20px); /* Need a specific value to work */
  height: fit-content;
  bottom: 10px;
}
